<%- include('partials/header') %>
    <div class="card">
        <div class="card-header text-center">
            <h1>Todo List</h1>
        </div>
        <div class="card-body">
            <form action="" method="get">
                <input type="hidden" name="page" value="1">
                <input type="hidden" name="sortBy" value="id">
                <input type="hidden" name="sortMode" value="asc">
                <div class="row mb-3">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title" value="<%= query.title %>">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="complete" class="col-sm-2 col-form-label">Complete</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="complete" name="complete">
                            <option value="">-pilih-</option>
                            <option value="false"<%= query.complete == 'false' ? ' selected' : '' %>>Belum</option>
                            <option value="true"<%= query.complete == 'true' ? ' selected' : '' %>>Sudah</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-info" type="submit" title="cari"><i class="fa-solid fa-magnifying-glass"></i></button>
                <a class="btn btn-warning" href="/" title="reset"><i class="fa-solid fa-arrows-rotate"></i></a>
            </form>
        </div>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th><a href="<%= url.replace(`sortBy=${sortBy}`, `sortBy=id`).replace(`sortMode=${sortMode}`, `sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`) %>"><i class="fa-solid fa-<%= sortBy == 'id' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort' %>"></i> ID</a></th>
                    <th><a href="<%= url.replace(`sortBy=${sortBy}`, `sortBy=title`).replace(`sortMode=${sortMode}`, `sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`) %>"><i class="fa-solid fa-<%= sortBy == 'title' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort' %>"></i> Title</a></th>
                    <th><a href="<%= url.replace(`sortBy=${sortBy}`, `sortBy=complete`).replace(`sortMode=${sortMode}`, `sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`) %>"><i class="fa-solid fa-<%= sortBy == 'complete' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort' %>"></i> Complete</a></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% todos.forEach((item, index)=> { %>
                    <tr>
                        <td>
                            <%= index + offset + 1 %>
                        </td>
                        <td>
                            <%= item.id %>
                        </td>
                        <td>
                            <%= item.title %>
                        </td>
                        <td>
                            <%= item.complete ? 'Sudah' : 'Belum' %>
                        </td>
                        <td>
                            <a class="btn btn-success" href="/edit/<%= item.id %>" title="edit"><i class="fa-solid fa-pencil"></i></a>
                            <a class="btn btn-danger" href="/delete/<%= item.id %>"
                                onclick="return confirm('apakah anda yakin')" title="delete"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <% if(page> 1){ %>
                    <li class="page-item">
                        <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${Number(page) - 1}`) %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% } %>
                        <% for(let i=1; i <=pages; i++){ %>
                            <li class="page-item<%= page == i ? ' active' : ''%>"><a class="page-link"
                                    href="<%= url.replace(`page=${page}`, `page=${i}`) %>">
                                    <%= i %>
                                </a></li>
                            <% } %>
                                <% if(page < pages){ %>
                                    <li class="page-item">
                                        <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${Number(page) + 1}`) %>" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <% } %>
            </ul>
        </nav>

        <div class="card-footer">
            <a class="btn btn-primary" href="/add"><i class="fa-solid fa-plus"></i> Tambah</a>
        </div>
    </div>




    <%- include('partials/footer') %>