<%- include('partials/header') %>
<h1>Todo List</h1>
<a class="btn" href="/add">Tambah</a>
<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Complete</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% todos.forEach((item, index)=> { %>
            <tr>
                <td>
                    <%= index + 1 %>
                </td>
                <td>
                    <%= item.title %>
                </td>
                <td>
                    <%= item.complete ? 'Sudah' : 'Belum' %>
                </td>
                <td>
                    <a href="/edit/<%= item.id %>">edit</a>
                    <a href="/delete/<%= item.id %>" onclick="return confirm('apakah anda yakin')">delete</a>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>
<%- include('partials/footer') %>