<%- include('../partials/header') %>
    <div class="container">
        <form action="" method="post">
            <div class="row mb-3">
                <label for="title" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" name="title" value="<%= item.title %>"
                        placeholder="Nama Kerjaannya">
                </div>
            </div>
            <div class="row mb-3">
                <label for="complete" class="col-sm-2 col-form-label">Complete</label>
                <div class="col-sm-10">
                    <select class="form-control" id="complete" name="complete">
                        <option value="false" <%=!item.complete ? ' selected' : '' %>>Belum</option>
                        <option value="true" <%=item.complete ? ' selected' : '' %>>Sudah</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" title="simpan"><i class="fa-solid fa-floppy-disk"></i></button>
            <a href="/" class="btn btn-warning" title="kembali"><i class="fa-solid fa-rotate-left"></i></a>
        </form>
    </div>
    <%- include('../partials/footer') %>